{% extends 'base.html'%}
{% block title %}
        Create A New Profile Page
{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    <h1>Create Profile Page...</h1>
    <br/><br/>
<div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success">Create Profile</button>
        </form>
</div>


{% else %}
You're not allowed here! please login again
{% endif %}


{% endblock %}