{% extends 'base.html'%}
{% load static %}
{% block title %}
       {{ post.title_tag }}
{% endblock %}
{% block content %}



<div class="card mb-3" style="max-height: 200px;">
  <div class="row no-gutters">
    <div class="col-md-1">
        {% if post.author.profile.profile_pic %}
        <a href="{% url 'show_profile_page' post.author.profile.id %}"><img src="{{ post.author.profile.profile_pic.url }}"class="card-img"></a>
{% else %}
        <a href="{% url 'show_profile_page' post.author.profile.id %}"><img src="{% static 'theblog/images/default.jpg' %}" class="card-img"></a>
        {% endif %}
        </div>
                <div class="col-md-8">
             <div class="card-body">
            <h5 class="card-title">{{ post.author.first_name }} {{ post.author.last_name }}</h5>
                 <p class="card-text">
                     {{ user.profile.bio }}</p>
<!--         <h6 class="card-text">Current User ID: {{ user.id }}</h6>-->

                   <p class="small text-muted">

                   {% if  post.author.profile.website_url %}
                    <a href="{{ post.author.website_url }}">Website</a> |
                    {% endif %}
                    {% if  post.author.profile.website_url %}
                    <a href="{{ post.author.facebook_url }}">Facebook</a> |
                    {% endif %}
                    {% if  post.author.profile.website_url %}
                    <a href="{{ post.author.twitter_url }}">Twitter</a> |
                    {% endif %}
                    {% if  post.author.profile.website_url %}
                    <a href="{{ post.author.instagram_url }}">Instagram</a>
                    {% endif %}

                   </p>

      </div>
    </div>
  </div>
</div>

<h1>{{  post.title }}</h1>
    {{ post.post_date }} {{ post.post_time }}
{% if user.is_authenticated %}
     {% if user.id == post.author.id %}
            <a href="{% url 'update_post' post.pk %}" ><i><b>Edit</b></i></a> |
            <a href="{% url 'delete_post' post.pk %}" ><i><b>Delete</b></i></a>
     {% endif %}
{% else %}
    For more reading you have to login first
{% endif %}

<hr>
<br/>
{% if post.header_image %}
<img src="{{ post.header_image.url }}">
{% endif %}
{{ post.body|safe}}


<br/>
<br/>
<!--like and unlike -->
<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
    {% if user.is_authenticated %}
        {% if liked %}
            <button type="submit" name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">Unlike
            </button>
        {% else %}
            <button type="submit" name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like
            </button>
        {% endif %}
    <a class="text-muted">{{ total_likes }} Likes</a>
        {% else %}
        <small><i><a href="{% url 'login' %}">Login</a> to like</i></small> &nbsp <i>{{ total_likes }} Likes</i>
    {% endif %}
</form>
<br/><br/>
<h2>Comments...</h2>
{% if not post.comments.all %}
 No Comments ....<br/><a href="{% url 'add_comment' post.pk %}">Add One Comment</a>
{% else %}

<br/><br/>
 {% for comment in post.comments.all %}
<div class="shadow p-3 mb-5 bg-white rounded">

       {% if comment.profile_pic %}
       <img src="{{ comment.profile_pic.url }}" width="30" height="30" class="rounded-circle">
{% else %}
        <img src="{% static 'theblog/images/default.jpg' %}"  width="30" height="30" class="rounded-circle">
        {% endif %}


    <strong>
    {{ comment.name }}
        <small>&nbsp;<i class="text-black-50">{{ comment.date_added }}</i></small>
</strong>
    <br/>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
{{ comment.body }}

</div>
    {% endfor%}
<a href="{% url 'add_comment' post.pk %}">Add Comments</a>
<br/>
<br/>
<br/>
    {% endif %}


<!--<br/><br/>-->
<!--<a href="{% url 'home' %}" class="btn btn-success">Back</a>-->
<!--<br/><br/>-->
<!--<hr>-->


{% endblock %}