<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
     {% load static %}
    <title>

        {% block title %}
        Home page
        {% endblock %}
    </title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">Local News</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            {% for item in cat_menu %}
             <a class="dropdown-item" href="{% url 'category' item %}">
              {{ item }}</a>
            {% endfor %}

           </div>
        </li>



        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'add_post' %}">Add Post</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'add_category' %}">Add Category</a>
        </li>


         <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Setting
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if user.profile.id %}
                <a class="dropdown-item" href="{% url 'edit_profile_page' user.profile.id %}">Edit Profile Page</a>

                     <a class="dropdown-item" href="{% url 'show_profile_page' user.profile.id %}">Show Profile Page</a>
            {% else %}
             <a class="dropdown-item" href="{% url 'create_profile_page' %}">Create Profile Page</a>
            {% endif %}
          <a class="dropdown-item" href="{% url 'edit_profile' %}">Edit Setting</a>
        </div>
      </li>


        <li class="nav-item">
                         <a class="nav-link" href="{% url 'logout' %}">Logout</a>


                    <li class="nav-item">

                    <a href="{% url 'show_profile_page' user.profile.id %}">

                    {% if user.profile.profile_pic %}
                             <img src="{{ user.profile.profile_pic.url }}" width="40" height="40" class="rounded-circle">
                    {% else %}
                             <img src="{% static 'theblog/images/default.jpg' %}" width="40" height="40" class="rounded-circle">
                    {% endif %}
                    </a>
                    {{ user.first_name }}
                    {{ user.last_name }}
                </li>

        {% else %}

        <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Sign Up </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
    </li>

        {% endif %}




    </ul>

  </div>
</nav>

  <br/>
  <div class="container">
   {% block content %}

   {% endblock %}
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>